@media (max-width: 768px) {
    .card {
        margin: 10px 0;
        box-shadow: 7px 7px 15px rgba(0, 0, 0, 25%);
        border-radius: 15px;
    }
    .img-card-outstanding {
        display: grid;
        justify-items: center;
        position: relative;
    }
    .image-card {
        width: 100%;
        border-radius: 15px 15px 0px 0px;
    }
    .description {
        background-color: var(--colorcinco);
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 0.8;
    }
    .description:hover {
        opacity: 1;
    }
    .card-title, .precio {
        width: 100%;
        margin: 5px 0;
        color: var(--colorcuatro);
        font-family: var(--fuenteprincipal);
    }
    .anchor-card {
        color: var(--colorcuatro);
        font-family: var(--fuenteterciaria);
        font-weight: bolder;
    }
    .more {
        font-weight: bolder;
        font-size: larger;
        background-color: yellow;
        border-radius: 20px;
    }
    .footer-card {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        justify-items: center;
        font-size: larger;
        border-radius: 0px 0px 15px 15px;
    }
    .a-icon-footer {
        text-decoration: none;
        color: var(--colorcuatro);
    }
    .heart, .car, .msg, .view {
        margin: 5px 0;
    }
    .heart:hover, .car:hover, .msg:hover, .view:hover {
        transition: all 350ms ease;
        font-size: medium;
        color: var(--colorcinco);
    } 
    #dioramas-card {
        background-color: var(--coloruno);
    }
    #card-3d {
        background-color: var(--colortres);
    }
    #fuentes-card {
        background-color: var(--colordos);
    }
}