.cards-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    justify-content:space-evenly;
}
@media (max-width: 768px) {
    .cards-container {
        grid-template-columns: 45% 45%;
    }
}