.modal {
    background-color: rgba(255, 209, 128, 0.6);
    position: fixed;
    width: 100%;
    z-index: -1;
    opacity: 0;
    top: 0;
    transition: all .5s ease-out;
}
.modal.show {
    background-color: rgba(255, 209, 128, 0.6);
    position: fixed;
    width: 100%;
    z-index: 1;
    opacity: 1;
    top: 0;
    transition: all .5s ease-in;
}
.modal-container {
    background-color: var(--colorcinco);
    width: 30%;
    margin: 5% auto 100% auto;
    position: relative;
}
.close-form-login {
    background-color: var(--colorcinco);
    border-radius: 50%;
    color: var(--colortresoscuro);
    font-size: x-large;
    position: absolute;
    top: -10px;
    left: -10px;
}
.close-form-login:hover {
    color: var(--colortres);
    cursor: pointer;
    font-weight: bolder;
}
.header-form {
    background-image: url(../../../images/Cloudy.svg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 250px;
    display: grid;
    justify-items: center;
}
.image-header-form {
    width: 20%;
    margin-top: 40px;
}
.input-form {
    position: relative;
    display: grid;
    align-items: center;
    width: 90%;
    height: 25px;
    margin: 30px auto;
    box-sizing: border-box;
}
.inp-form {
    height: 20px;
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--colorcuatro);
    font-family: var(--fuenteterciaria);
}
.inp-form:focus {
    outline: none;
}
.container-lbl-frm {
    width: 100%;
    bottom: -4px;
    position: absolute;
    display: grid;
    grid-template-columns: 90% 10%;
}
.lbl-form {
    position: relative;
    top: 5px;
    left: 2px;
}
.btn-form {
    display: grid;
    justify-content: center;
}
.btn-form-login {
    margin: 20px 0;
    border: none;
    padding: 15px;
    color: var(--colorcinco);
    font-family: var(--fuenteterciaria);
    background-color: var(--colortres);
}
.btn-form-login:hover {
    background-color: var(--colortresoscuro);
    cursor: pointer;
}
.footer {
    padding-bottom: 20px;
}
.login-join-up, .login-remember {
    font-family: var(--fuenteterciaria);
    text-align: center;
    margin: 5px 10px;
}
.login-here-join , .login-remember-here {
    font-weight: bolder;
}

@media (max-width: 767px) {
    .modal-container {
        width: 85%;
        margin: 15% auto 100% auto;
    }
}
@media (min-width:768px ) and (max-width: 991px) {
    .modal-container {
        width: 55%;
        margin: 15% auto 100% auto;
    }
}