.img-logo {
    width: 100px;
    margin-top: 5px;
}
@media (max-width: 768px) {
    .logo {
        background-image: url(../../../images/patt1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        display: grid;
        justify-items: center;
    }
    .img-logo {
        width: 70%;
    }
}