.carousel{
    margin-bottom: 40px;
}
.carousel-title {
    color: var(--colorcuatro);
    font-family: var(--fuentesecundaria);
    font-size: xx-large;
    text-align: center;
}
@media (max-width: 768px) {
    .carousel {
        max-width: 100%;
        overflow: hidden;
        margin-bottom: 0;
    }
}